html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -250px;
    text-align: left;
}

nexly {
    font-weight: 400;
}

header h1 {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    left: 25%;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

footer {
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}